node_modules/
logs/
servers/*/world/
servers/*/world_nether/
servers/*/world_the_end/
servers/*/cache/
servers/*/logs/
servers/*/crash-reports/
servers/*/*.jar
servers/*/plugins/*.jar
servers/*/backups/
public/media/
.env
*.log
*.pid
release/
users.json
schedules.json
discord-config.json
